html {
  height: 100%;
  background-color: #D9DEE3;
  font-size: 100%;
  font-family: 'Lato', 'Open Sans', 'Helvetica', Helvetica, Arial, sans-serif;
}

h1 {
  color: #202932;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 12px;
  padding: 0;
}

h2 {
  color: #2F3B48;
  font-size: 1rem;
  font-weight: 400;
  margin: 8px;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
